.uploadFlowWrapper {
  margin: 20px;
  display: flex;
  align-items: flex-start;
  gap: 20px;

  .uploadAndShowWrapper {
    width: 40%;

    .dropAndClickWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 15px;
      background-color: rgba(#00a6ff, 0.3);

      .dropAndClickArea {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 2px dashed rgb(132, 132, 132);
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        font-size: 20px;
        position: relative;
        transition: all 0.2s ease;

        &:hover {
          background-color: rgba(#00bbff, 0.1);
        }
        .bx_cloud_upload {
          font-size: 80px;
          color: white;
        }

        .fileInput {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }
    }
  }

  .uploadedFiles {
    width: 100%;
    max-height: 440px;
    overflow-y: auto;

    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      width: 6px;
    }  
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;

    .fileItem {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 15px;
      border: 1px dashed gray;
    }
  }
}

.fileImage {
  width: 100px;
  height: 100px;
  font-weight: bold;
  border-radius: 5px;
}

.fileStatus {
  color: #555;
}

.fileStatus.pending {
  color: orange;
}

.fileStatus.succeeded {
  color: green;
}

.fileStatus.failed {
  color: red;
}

.fileError {
  color: red;
  font-size: 0.8em;
  margin-left: 5px;
}
