.uploadFlowWrapper {
  margin: 20px;
  display: flex;
  align-items: flex-start;
  gap: 20px;

  .uploadAndShowWrapper {
    width: 40%;

    .dropAndClickWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 15px;
      background-color: white; // rgba(#00a6ff, 0.3);

      .dropAndClickArea {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: 2px dashed rgb(132, 132, 132);
        border-radius: 15px;
        text-align: center;
        cursor: pointer;
        font-size: 20px;
        position: relative;
        transition: all 0.2s ease;

        .bx_cloud_upload {
          font-size: 80px;
          color: black;
        }

        input[type="file"]{
          display: none;
        }

        .custom_file_upload_button{  
          border: 1px solid black;
          padding: 5px 15px;
          border-radius: 10px;
          margin-top: 10px;
          cursor: pointer;
        }

      }
    }
  }
  .uploadedFilesScrollable{
    overflow: scroll;
    padding: 10px;
  }

  .uploadedFiles {
    width: 100%;
    max-height: calc(100vh - 405px);

    &::-webkit-scrollbar {
      width: 0px;
    }

    &::-webkit-scrollbar-trach {
      background-color: white;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 166, 255, 0.3);
      border-radius: 20px;
    }

    .noUploadedFiles{
      height: calc(100vh - 405px);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(#ececec, 0.3);
      border-radius: 15px;
      width: 100%;
      padding: 10px;

      .noUploadedFilesInner{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: 2px dashed rgb(132, 132, 132);
        border-radius: 15px;
      }
    }

    .fileItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      padding: 15px;
      border-radius:15px ;
      background-color: rgba(#ececec, 0.3);
    }
  }
}

.fileImage {
  width: 100px;
  height: 100px;
  font-weight: bold;
  border-radius: 5px;
}

.fileStatus {
  color: #555;
}

.fileStatus.pending {
  color: orange;
}

.fileStatus.succeeded {
  color: green;
}

.fileStatus.failed {
  color: red;
}

.fileError {
  color: red;
  font-size: 0.8em;
  margin-left: 5px;
}
