.sidebar_files_wrapper {
  display: flex;
  align-items: flex-start;
  position: relative;
  background-color: #ececec;
}

.files_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  padding: 25px;
  overflow-y: scroll;
  background-color: white;
  border-radius: 20px;
  margin-right: 20px;
  max-height: calc(100vh - 140px);
  z-index: 1000;
  width: 100%;
  max-height: calc(100vh - 140px);

  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-trach {
    background-color: white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 166, 255, 0.3);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.noFilesWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 90px);
  border-radius: 20px;
  background-color: white;
  font-size: 30px;
  margin-right: 20px;
}

.filesGetLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 90px);
  border-radius: 20px;
  background-color: white;
  font-size: 30px;
  margin-right: 20px;
}

.filesGetError{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 90px);
    border-radius: 20px;
    background-color: white;
    font-size: 30px;
    margin-right: 20px;
}
